.notediv {
  
  margin: 10px;
  padding: 6px;
}
.mainNote {
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* border:2px black solid; */
  margin: 10px;
  /* padding: 6px; */
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 8px;
  border: 1px rgb(49, 48, 48) solid;
}

.noteInputBox {
  display: flex;
  justify-content: center;
}
input {
  border-bottom: 1px black solid;
  width: 300px;
  background-color: white;
}
input:focus {
  outline: none;
}
.titleText {
  height: 26px;
  /* border: none; */
}
.descriptionText {
  height: 60px;
  /* border: none; */
  outline: none;
  font-size: 16px;
}
.titleText::placeholder {
  font-size: 18px;
  font-family: 'Albert Sans';
}
.descriptionText::placeholder {
  font-size: 16px;
  font-family: 'Albert Sans';
}
.addBtn {
  background-color: #002d62;
  color: white;
  height: 36px;
  width: 68px;
  font-size: 16px;
  margin-right: 26px;
  margin-bottom: 14px;
  border: none;
  border-radius: 6px;
}
.addBtn:hover {
  background-color: #0066b2;
}
.createBtn {
  background-color: #002d62;
  color: white;
  height: 36px;
  width: 108px;
  font-size: 16px;
  margin: 12px;
  border: none;
  font-family: "Albert Sans";
  border-radius: 10px;
}
.content{
  margin-top: 16px;
  height: 130px;
}