.NoFound{
    font-family: 'Albert Sans';
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color:black;
}
.NotesArea{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.noteBox{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: black;
    font-family: 'Albert Sans';
    width:300px;
    height: 230px;
    padding: 20px;
    margin: 12px;
    border-radius:16px;
    position: relative;
    transition: all .2s ease-in-out;
}
.noteBox:hover{
    /* width:300px;
    height: 260px; */
    transform: scale(1.08);
}
.deleteBtn{
   
    color: #002D62;
    font-weight: bold;
    border: none;
    margin: 8px;
    background-color: white;
    font-family: 'Albert Sans';
    font-size: 16px;
}
.deleteBtn:hover{
    text-decoration: underline;
}
  