.Heading {
  text-align: center;
  font-family: monospace;
  font-size: 34px;
  font-weight: bold;
  font-family: "Albert Sans";
}
.headingText {
  color: #002d62;
}
.main-container {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.container {

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  width: 500px;
}

input {
  margin: 8px;
  height: 34px;
  width: 220px;
  border: none;
  border-width: 8px;
  border-bottom: 1px red solid;
  background-color: rgb(235, 235, 235);
  outline: none;
}
::placeholder {
  padding: 4px;
  color: rgb(85, 85, 85);
}

.btns {
  margin: 14px 12px;
  font-family: "Albert Sans";
  height: 36px;
  border-radius: 6px;
  border: none;
  background-color: rgb(43, 43, 183);
  color: white;
  padding: 8px;
}
.btns:hover {
  background-color: rgb(53, 53, 221);
}

.head {
  background-color: #002d62;
  color: white;
  font-family: "Albert Sans";
  padding: 10px;
  border-radius: 8px;
  margin: 6px;
}
.btnDiv {
  margin: 22px;
  font-weight: bold;
  font-family: "Albert sans";
  /* border:1px white solid; */
  color: #002d62;
  /* display: flex;
  justify-content: center; */
  align-content: center;
 position: relative;
 width: 140px;
 text-align: right;
}
.headings {
  margin: 14px;
}
.newHeader {
  display: flex;
  justify-content: space-between;
  /* margin:10px; */
}
.btnss {
  margin: 6px 10px;
  background-color: white;
  border: none;
  border-radius: 8px;
  padding: 4px;
  color:black;
  width: 120px;
 
}
.btnss:hover{
  background-color: #002d62;
  color:white;

}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;   /* Height of the footer */
  text-align: center;
  font-family: 'Albert Sans';
}

hr{

  background: black;
  color: black;
  margin: 0;
}